<template>
  <div id="app">
    <div class="container">
      <nav-bar :socketIsConnected="socketIsConnected"></nav-bar>
      <p v-if="error">
        <mark class="inline-block secondary">{{ error }}</mark>
      </p>
      <router-view />
    </div>
  </div>
</template>

<script>
import NavBar from './components/NavBar'
export default {
  components: { NavBar },
  computed: {
    error() {
      return this.$store.getters.error
    },
    socketIsConnected() {
      return this.$store.getters.socketIsConnected
    },
  },
  watch: {
    socketIsConnected: function (isConnected) {
      if (isConnected) {
        return this.$store.dispatch('getDevices')
      }
    },
  },
}
</script>

<style>
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.2em;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1033px;
  padding-left: 15px;
  padding-right: 15px;
}
.card {
  align-self: inherit;
}
</style>
