<template>
  <div class="dashboard">
    <div class="row">
      <h2>Sensors</h2>
    </div>
    <div class="row">
      <div v-if="sensors.length === 0">No sensors.</div>
      <device-card
        v-for="sensor in sensors"
        :key="sensor.slug"
        :device="sensor"
      ></device-card>
    </div>
    <div class="row">
      <h2>Actuators</h2>
    </div>
    <div class="row">
      <div v-if="actuators.length === 0">No actuators.</div>
      <device-card
        v-for="actuator in actuators"
        :key="actuator.slug"
        :device="actuator"
      ></device-card>
    </div>
  </div>
</template>

<script>
import DeviceCard from '../components/DeviceCard'

export default {
  name: 'dashboard',
  components: { DeviceCard },
  computed: {
    actuators() {
      return this.$store.getters.devices.filter(
        device => device.device_type === 'actuator'
      )
    },
    sensors() {
      return this.$store.getters.devices.filter(
        device => device.device_type === 'sensor'
      )
    },
  },
  beforeDestroy() {
    this.$store.commit('setError', null)
  },
}
</script>

<style scoped>
.dashboard {
  padding: 10px;
}
</style>
