<template>
  <div v-if="device">
    <h1>
      {{ device.name }}
      <i :class="`fa ${device.icon} }`" aria-hidden="true"></i>
      <device-modal :device="device"></device-modal>
    </h1>
    <div v-if="device.device_type === 'sensor'">
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <p class="chart-arrows">
            <i
              class="fa fa-chevron-left"
              aria-hidden="true"
              @click="updateDataOnArrows(true)"
            ></i>
          </p>
        </div>
        <div class="col-sm-12 col-md-6 input-time-frames">
          <div class="row time-frames">
            <div
              v-for="tf in ['24h', '7d', '30d', '90d', '1y']"
              :key="tf"
              class="col time-frame"
            >
              <label>
                <input
                  type="radio"
                  name="time"
                  :id="tf"
                  :value="tf"
                  :checked="timeFrame === tf"
                  @change="updateData(tf)"
                />
                <span>{{ tf }}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <p class="chart-arrows">
            <i
              class="fa fa-chevron-right"
              aria-hidden="true"
              @click="updateDataOnArrows(false)"
            ></i>
          </p>
        </div>
      </div>
      <div v-if="device.thresholds" class="row input-thresholds">
        <label>
          <input
            type="checkbox"
            name="displayThresholds"
            @change="hideThresholdsOnChart"
          />
          <span>hide thresholds</span>
        </label>
      </div>
      <div v-if="deviceData.labels && deviceData.labels.length > 0">
        <chart
          v-for="type in dataTypes"
          :dataType="type"
          :key="type"
          :chartLabels="deviceData.labels"
          :chartDataSets="deviceData.datasets.filter(d => d.dataType === type)"
          :chartType="getChartType(type)"
          :thresholds="device.thresholds && device.thresholds[type]"
          :hideThresholds="hideThresholds"
          :dateFormat="deviceData.dateFormat"
          :minMaxValues="
            deviceData.minMaxValues && deviceData.minMaxValues[type]
          "
          :ts="deviceData.ts"
        >
        </chart>
      </div>
      <p v-else>No data for now...</p>
    </div>
    <div v-else>
      <mark class="inline-block primary">No chart for actuators for now</mark>
    </div>
  </div>
</template>

<script>
import Chart from '../components/Chart'
import DeviceModal from '../components/DeviceModal'
import { getChartType } from '../utils'

export default {
  name: 'DeviceDetail',
  components: { Chart, DeviceModal },
  computed: {
    device() {
      return this.$store.getters.device(this.$route.params.slug)
    },
    deviceData() {
      return this.$store.getters.deviceData
    },
    dataTypes() {
      return this.$store.getters.deviceData.dataTypes
    },
    start() {
      return this.$store.getters.start
    },
    end() {
      return this.$store.getters.end
    },
    hideThresholds() {
      return this.$store.getters.hideThresholds
    },
    timeFrame() {
      return this.$store.getters.timeFrame
    },
  },
  created: function () {
    return this.$store.dispatch('getDeviceData', {
      slug: this.$route.params.slug,
    })
  },
  methods: {
    getChartType(type) {
      return getChartType(type)
    },
    hideThresholdsOnChart(e) {
      this.$store.commit('updateHideThresholds', e.target.checked)
    },
    updateDataOnArrows(forward) {
      const start = this.start
      const end = this.end
      const timeFrame = this.timeFrame
      let newStart, newEnd
      if (forward) {
        newStart =
          timeFrame === '24h'
            ? start.subtract(1, 'hour')
            : ['7d', '30d'].includes(this.timeFrame)
            ? start.subtract(1, 'day')
            : start.subtract(7, 'day')
        newEnd =
          timeFrame === '24h'
            ? end.subtract(1, 'hour')
            : ['7d', '30d'].includes(this.timeFrame)
            ? end.subtract(1, 'day')
            : end.subtract(7, 'day')
      } else {
        newStart =
          timeFrame === '24h'
            ? start.add(1, 'hour')
            : ['7d', '30d'].includes(this.timeFrame)
            ? start.add(1, 'day')
            : start.add(7, 'day')
        newEnd =
          timeFrame === '24h'
            ? end.add(1, 'hour')
            : ['7d', '30d'].includes(this.timeFrame)
            ? end.add(1, 'day')
            : end.add(7, 'day')
      }
      return this.$store.dispatch('getDeviceData', {
        slug: this.$route.params.slug,
        timeFrame,
        query: `?time=${timeFrame}&start=${newStart.unix()}&end=${newEnd.unix()}`,
      })
    },
    updateData(timeFrame) {
      this.$store.commit('updateTimeFrame', timeFrame)
      return this.$store.dispatch('getDeviceData', {
        slug: this.$route.params.slug,
        timeFrame,
        query: `?time=${timeFrame}`,
      })
    },
  },
  beforeDestroy() {
    this.$store.commit('setError', null)
    this.$store.commit('updateDeviceData', {})
    this.$store.commit('updateTimeFrame', '24h')
  },
}
</script>

<style scoped>
.input-time-frames {
  display: flex;
  font-size: 0.8em;
}
.input-thresholds {
  color: #7b7b7b;
  font-size: 0.8em;
}
.input-thresholds input[type='checkbox'] {
  height: 12px;
  width: 12px;
}
.input-thresholds input[type='checkbox']:checked::before {
  font-size: 0.8em;
  top: -5px;
}

.chart-arrows {
  color: #7b7b7b;
  text-align: center;
}

.time-frames {
  display: inline-flex;
  margin: 0 auto;
}

.time-frame label {
  float: left;
  width: 3em;
}

.time-frame label input {
  display: none;
}

.time-frame label span {
  border: #555555 solid 1px;
  border-radius: 9%;
  color: #7b7b7b;
  display: block;
  text-align: center;
  padding: 2px 0;
}

.time-frame input:checked + span {
  background-color: #2b2b2b;
}
</style>
