<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %><%= NODE_ENV == 'production'  ? 'static/' : '' %>favicon.ico">
    <link href="<%= BASE_URL %><%= NODE_ENV === 'production' ? 'static/' : '' %>css/mini-dark.min.css" rel="stylesheet"/>
    <link href="<%= BASE_URL %><%= NODE_ENV === 'production' ? 'static/' : '' %>css/fork-awesome.min.css" rel="stylesheet"/>
    <title>hostghost_front2</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but hostghost_front2 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
