<template>
  <div class="chart-container">
    <min-max-values
      v-if="minMaxValues"
      :dataType="dataType"
      :minMaxValues="minMaxValues"
    />
    <mixed-chart
      :chartType="chartType"
      :data="chartDataSets"
      :dataType="dataType"
      :dateFormat="dateFormat"
      :hideThresholds="hideThresholds"
      :labels="chartLabels"
      :styles="styles"
      :thresholds="thresholds"
      :ts="ts"
    />
  </div>
</template>

<script>
import MinMaxValues from '../components/MinMaxValues'
import MixedChart from './MixedChart'

export default {
  name: 'Chart',
  props: [
    'chartDataSets',
    'chartLabels',
    'chartType',
    'dataType',
    'dateFormat',
    'hideThresholds',
    'minMaxValues',
    'thresholds',
    'ts',
  ],
  components: {
    MinMaxValues,
    MixedChart,
  },
  computed: {
    styles() {
      return {
        height: '300px',
        position: 'relative',
      }
    },
  },
}
</script>

<style scoped>
.chart-container {
  padding-top: 25px;
}
</style>
