<template>
  <ul>
    <li
      v-for="(threshold_value, threshold_type) in filtered_thresholds"
      :key="threshold_type"
    >
      {{ threshold_type }}: {{ threshold_value.value }}{{ value_unit }}
      {{
        threshold_value.actuator &&
        `(actuator: ${getActuator(threshold_value.actuator)})`
      }}
    </li>
  </ul>
</template>

<script>
export default {
  name: 'DeviceThreshold',
  props: ['thresholds', 'selected_threshold', 'value_type'],
  computed: {
    actuators() {
      return this.$store.getters.devices.filter(
        device => device.device_type === 'actuator'
      )
    },
    filtered_thresholds() {
      if (this.selected_threshold) {
        return {
          [this.selected_threshold]: this.thresholds[this.selected_threshold],
        }
      }
      return this.thresholds
    },
    value_unit() {
      switch (this.value_type) {
        case 'humidity':
          return '%'
        case 'power':
          return 'W'
        case 'temperature':
          return '°C'
      }
      return ''
    },
  },
  methods: {
    getActuator(actuator_id) {
      const actuator = this.actuators.filter(act => act.id === actuator_id)
      return actuator.length > 0 ? actuator[0].name : actuator_id
    },
  },
}
</script>

<style scoped></style>
