<template>
  <div class="card">
    <div class="section">
      <router-link
        v-if="device.device_type === 'sensor'"
        :to="`/devices/${device.slug}`"
      >
        {{ device.name }}
      </router-link>
      <span v-else>{{ device.name }} </span>
      <i :class="`fa ${device.icon} }`" aria-hidden="true"></i>{{ ' ' }}
      <device-modal :device="device"></device-modal>
    </div>
    <div class="section">
      <ul v-if="device.values">
        <li v-for="(value, key) in device.values" :key="key">
          <strong>{{ key }}</strong
          >: {{ value.text ? value.text : value }}
          <span v-if="value.exceeds_thresholds">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <device-threshold
              :thresholds="device.thresholds[key]"
              :value_type="key"
              :selected_threshold="value.exceeds_thresholds"
            ></device-threshold>
          </span>
        </li>
      </ul>
      <p v-else>waiting for data...</p>
    </div>
  </div>
</template>

<script>
import DeviceModal from './DeviceModal'
import DeviceThreshold from './DeviceThreshold'

export default {
  name: 'Device',
  components: { DeviceModal, DeviceThreshold },
  props: ['device'],
}
</script>

<style scoped></style>
