<template>
  <span>
    <label :for="`modal-control-${device.id}`">
      <i class="fa fa-cogs" aria-hidden="true" title="show configuration"></i>
    </label>
    <input type="checkbox" :id="`modal-control-${device.id}`" class="modal" />
    <div role="dialog" aria-labelledby="dialog-title">
      <div class="card device-modal">
        <label :for="`modal-control-${device.id}`" class="modal-close"></label>
        <h3 class="section" id="dialog-title">{{ device.name }}</h3>
        <dl class="section device-detail">
          <dt>id:</dt>
          <dd>{{ device.id }}</dd>
          <dt>type:</dt>
          <dd>{{ device.device_type }}</dd>
          <dt v-if="device.sensor">sensor:</dt>
          <dd v-if="device.sensor">{{ device.sensor }}</dd>
          <dt v-if="device.actuator">actuator:</dt>
          <dd v-if="device.actuator">{{ device.actuator }}</dd>
          <dt v-if="device.delay">delay:</dt>
          <dd v-if="device.delay">
            {{ device.delay }} second{{ device.delay === 1 ? '' : 's' }}
          </dd>
          <dt v-if="'notifications' in device">notifications:</dt>
          <dd v-if="'notifications' in device">
            {{ device.notifications ? 'enabled' : 'disabled' }}
          </dd>
          <dt v-if="device.thresholds">thresholds:</dt>
          <dd v-if="device.thresholds">
            <ul>
              <li
                v-for="(threshold, value_type) in device.thresholds"
                :key="value_type"
              >
                <strong>{{ value_type }}</strong
                >:
                <device-threshold
                  :thresholds="threshold"
                  :value_type="value_type"
                ></device-threshold>
              </li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
  </span>
</template>

<script>
import DeviceThreshold from './DeviceThreshold'

export default {
  name: 'Modal',
  components: { DeviceThreshold },
  props: ['device'],
}
</script>

<style scoped>
.device-modal {
  align-self: flex-start;
  justify-content: normal;
  margin: 10% auto !important;
  max-width: 500px;
}
.device-detail dt {
  font-weight: bold;
}
</style>
