<template>
  <div class="row min-max-values">
    Minimal {{ dataType }} is {{ minMaxValues.min }}{{ unit }} and maximal is
    {{ minMaxValues.max }}{{ unit }}
  </div>
</template>

<script>
export default {
  name: 'MixMaxValues',
  props: ['dataType', 'minMaxValues'],
  data() {
    return {
      unit: this.getUnit(this.dataType),
    }
  },
  methods: {
    getUnit(dataType) {
      switch (dataType) {
        case 'temperature':
          return '°C'
        case 'humidity':
          return '%'
        case 'energy':
          return 'kWh'
        case 'power':
          return 'V'
        default:
          return ''
      }
    },
  },
}
</script>

<style scoped>
.min-max-values {
  color: #7b7b7b;
  font-size: 0.8em;
  margin-bottom: -5px;
  padding-left: 10px;
  text-align: center;
}
</style>
