<template>
  <header>
    <router-link to="/" class="logo">
      HostGhost
      <span class="socketDisconnect" v-if="!socketIsConnected">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        Disconnected
      </span>
    </router-link>
  </header>
</template>

<script>
export default {
  name: 'NavBar',
  props: ['socketIsConnected'],
}
</script>

<style scoped>
.socketDisconnect {
  color: #aaaaaa;
  font-size: 0.7em;
  font-style: italic;
  padding-left: 10px;
}
</style>
